/* You can add global styles to this file, and also import other style files */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.list{
  position: relative;
  background: #fff;
  width: 350px;
}

.list h2{
  background: #03a9f4;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
}

